/* super globals */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* css variables */
:root {
  --d-flex: flex;
  --f-col: column;
  --wrap: wrap;
  --f-row: row;
  --d-block: block;
  --primary-color: #f8851a;
  --secondary-color: gray;

  --black: #121212;
  --white: #eee;
  --white-light: #e5e2e2f8;

  --text-center: center;

  --full-w: 100%;
  --full-h: 100%;
  --half-w: 50%;
  --half-h: 50%;

  --full-vw: 100vw;
  --full-vh: 100vh;

  --mg: 1em;
  --mg-top: 1em;
  --mg-left: 1em;
  --mg-right: 1em;
  --mg-bottom: 1em;

  --pd: 1em;
  --pd-light: 0.5em;

  --bdr-1: 4px;
  --bdr-2: 50%;

  --fb: 4px solid #e5e2e2f8;

  --centered: 0 auto;
  --lh: 1.5;

  --primary-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}
/* html scroll behaviour */
html {
  scroll-behavior: smooth;
}
/* body */
body {
  font-family: 'Source Sans Pro', sans-serif;
  width: var(--full-vw);
  height: var(--full-vh);
  overflow-x: hidden;
}
/* footer */
footer {
  /*padding: 5rem 0;*/
  width: var(--full-w);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: white;
  margin-top: auto;
  border-top: 3px solid #eee;
}
/*contact wrapper*/
.contact-wrapper {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
/*footer content*/
.contact-street, .contact-postal, .contact-phone {
  margin: .5rem 1rem;
  padding: 0rem 2rem;
  display: flex;
  flex-direction: column;
  background: white;
  align-items: center;
}
.contact-header {
  margin: 0 0 .4rem 0;
  text-transform: uppercase;
  font-size: 18px;
}
.contact-street {
  border-right: 2px solid #121212;
}
.contact-phone {
  border-left: 2px solid #121212;
}

.info {
  margin: .2rem 0;
  color: #f8851a;
  font-size: 14px;
}
/* banking details*/
.banking-details {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
/* copyright*/
.copyright {
  border-top: 3px solid #eee;
  padding-top: 3rem;
  margin: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* wrapper */
.wrapper {
  display: flex;
  flex-flow: column;
  flex: 1;
  width: var(--full-w);
  height: var(--full-h);
  background: var(--f-col);
}
/* main nav */
.main-nav {
  display: var(--d-flex);
  flex-wrap: var(--wrap);
  height: 190px;
  background: rgba(0, 0, 0, 0.267);
  align-items: center;
  justify-content: space-around;

  padding: 1rem 0;
}
/* logo container */
.logo-container {
  height: 85%;
}
/* logo */
.logo {
  max-width: var(--full-w);
  object-fit: cover;
  height: var(--full-h);
}
/* menu */
.menu {
  border-top: 3px solid #eee;
  display: flex;
  flex-flow: var(--f-col);
  padding: 0.6rem 0.3rem;
  position: relative;
  background: rgb(43, 43, 42);
  width: fit-content;
}
/* school name */
.school-name {
  position: absolute;
  top: -70px;
  font-size: 36px;
  width: var(--full-w);
  margin: 1rem 0;
  text-align: var(--text-center);
}
/* menu links */
.menu-a {
  display: var(--d-flex);
}
.active {
  background: #fff;
  color: black !important;
}
/* menu bar */
.menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1.5rem;
  text-decoration: none;
  color: var(--white);
  font-size: 12px;
  padding: 0.6rem 0.2rem;
  cursor: pointer;
  border-radius: 20px;
}

/* hover effects */
.menu a:hover {
  background: #fff;
  color: #121212;
  transition: background 0.3 linear;
}

/* menu bar  */
.bars {
  visibility: hidden;
  position: absolute;
  color: var(--white);
}
.ad-space-1 {
  width: var(--full-w);
  background: rgba(0, 0, 0, 0.77);
  height: 40px;
}
/* show classlist toggled */
.show {
  display: flex !important;
}
/* content sections */
.content {
  margin-top: 2rem;
  width: 100%;
  /* background:  for debugging purposes*/
  display: flex;
  flex-flow: row wrap;
  flex: 1;
   /* height: 100vh;  */
}
/* aside section */
.aside {
  width: 300px;
  display: flex;
  flex-flow: column;
  padding: 1rem 1rem;
  margin: 0 1rem;
  background: white;
}
/*section header*/
.section-header {
  color: #121212;
  text-transform: uppercase;
  margin: .5rem 0;
}
/*news and events container*/
.news-events-container {
  display: flex;
  flex-wrap: wrap;
}
.event {
  width: 100%;
  display: flex;
  flex-flow: column;
  padding: .3rem .2rem;
  margin: 1rem 0;
  background: #eee;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.event-title, .event-date, .more-info {
  margin: .6rem .2rem;
}
/*event date*/
.event-date {
  color: #f8851a;
}
/* read-more */
.more-info {
  color: blue;
  text-decoration: none;
  text-transform: italic;
}
.more-info:hover {
  color: #f8851a;
}
.slide-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 700px;
  height: 900px;
  padding: 1rem .5rem;
  /*background: #ecb084;*/
}
.banner {
  /*width: 20%;*/
  /*background: red;*/
  /* flex-grow: 1; */
  margin: 0 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-bottom: 1rem;
}
/*download div*/
.download-div {
  margin-top: 2rem;
  width: 300px;
  height: 350px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: .2rem .1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.download-div:hover {
  transform: scale(1.01);
  transition: .3s ease-in-out;
}
.download-item-img {
  opacity: .6;
  outline: 1px solid #121212;
  max-width: 100%;
  height: 78%;
}
/* download item mane*/
.download-item-name {
  padding: .4rem 0;
  text-transform: uppercase;
  padding: .5rem 0;
  text-align: center;
  width: 100%;
  height: 22%;
}

/* download button*/
.download-item-btn {
  border-radius: 5px;
  width: 60%;
  align-self: center;
  height: 18%;
  padding: 1rem .2rem;
  margin-top: .4rem;
  font-size: 16px;
  font-weight: 600;
  background: #f8851a;
  color: #fff;
  cursor: pointer;
  border: none;
  text-decoration: none;
  text-align: center;
}
.download-item-btn:hover {
  background: #fff;
  color: #121212;
  transition: background 0.3s linear;
  outline: .66px solid #f8851a;;
}

/*school stats*/
.school-statistics {
  flex: 1;
  margin: 3rem 0 0 0;
  background: #eee;
  color: #121212;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1rem 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.stats-div {
  display: flex;
  flex-flow: row-wrap;
  margin-top: 2rem;
  width: 100%;
  background-image: url(../stats-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*background: #231;*/
  color: #eee;
  justify-content: space-around;
  padding: 2rem .4rem;
}

.main-stats-header, .social-header {
  width: 100;
  background: #fff;
  padding: .3rem .4rem;
  border-radius: 4px;
  border-top: 2px solid #121212;
}
.learners, .teachers, .staff {
  display: flex;
  flex-flow: column;
  align-items: center;
  /*background: purple;*/
  padding: 1rem 1rem;
}
.stats-header {
  color: #f8851a;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

#number {
  margin-top: 2rem;
  display: grid;
  place-items: center;
  background: #dededf79;
  color: #121212;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  font-weight: 900;
  font-size: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border: .5px solid #121212;
}

/* social container */
.social {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  margin: 1rem 0;
  /* background: #f8851a; */
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
/* social icons div */
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
}
/* social icons link */
.social-icons a {
  margin: 0 4rem;
}
.social-icons a i {
  color: darkgrey;
  font-size: 48px;
  background: none;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); */
}
/* larger middle icon */
.middle {
  font-size: 65px !important;
}
/* on hover */
.social-icons a i:hover {
  transform: scale(1.05);
  color: var(--primary-color);
  transition: color .3s ease-in-out;
}
/* responsiveness / media queries*/
@media only screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }
  .content {
    margin-top: 200px;
  }
  .main-nav {
    flex-flow: column;
    justify-content: flex-start;
  }
  .menu {
    width: var(--full-w);
    padding: 0.1rem 0.1rem;
    margin-top: 1rem;
  }
  .menu-a {
    display: none;
    flex-flow: column;
    text-align: center;
    position: absolute;
    top: 45px;
    left: 0;
    font-size: 10px;
    background: rgb(179, 179, 96);
    flex-wrap: var(--wrap);
    width: var(--full-w);
    padding: 0.4rem 0;
    transition: 0.3s linear;
  }
  .menu button:hover {
    border-bottom: 2px solid #eee;
    /* height: 100%; */
  }
  .menu a:hover {
    border-bottom: 2px solid #eee;
    /* height: 100%; */
  }
  .school-name {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    font-size: 12px;
    color: #eee;
  }
  .bar {
    visibility: visible;
    position: absolute;
    right: 0;
    margin-right: 1rem;
    cursor: pointer;
  }
  .bar:hover {
    color: blue;
  }
  .content {
    width: 100vw;
  }
  .school-statistics,.aside, .slide-wrapper, .banner {
    width: 100vw;
  }
  #slider {
    width: 100%;
  }
}
